
body{
	background-image: url('ks.jpg') ;
	background-repeat: repeat-x;

}
nav>a{
	display: inline-block;
	position: relative;
	width: 100px;
	height: 40px;
	line-height: 40px;
	background: linear-gradient(90deg,#a6fede,#f3fea6,#febfa6);
	text-align: center;
	color: #666;
	font-size: 18px;
	text-decoration: none;
	font-family: 幼圆;
}
.a1{
	width: 100px;

}
nav{
	font-size: 0;
	background-color: #fbffcc;
	opacity: 0.8;
	position: fixed;
}
.a2::after,.a3::after{
	content: '';
	position: absolute;
	left: 100px;
	width: 0;
	height: 0;
	border-left: 24px solid #febfa6;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	z-index: 10;
}
nav a:hover {
	background: #fea6b2;
}
nav>.a3:hover::after, nav>.a2:hover::after{
	border-left: 24px solid #fea6b2;
}
h1{
	text-align: center;
}
section span,time{
	font-size: 15px;
	color: #868686;
	margin-left: 15px;
	margin-right:15px;
}
aside div{
	height: 30px;
	background: linear-gradient(0deg,#fdfe86,#fbffcc,white);
	border-top: 1px solid #d6d6d6;
	margin-left: 10px;
	margin-right: 10px;
}
aside span{
	font-weight: bold;
	margin-left: 10px;
	line-height: 30px;
}
aside a{
			float: right;
			margin-right: 20px;
			text-decoration: none;
			line-height: 30px;
			}
aside a:visited,a:link{
			color: #666;
		}
article>div.wenzhang pre{
			font-size: 0.85em;
			line-height: 1.15;
			text-indent: 2em;
			color: #000;

		}
article h5{
	text-indent: 2em;
	margin-bottom: 0px;
	margin-top: 15px;
}
footer{
			height: 100px;
			
		}
		footer .weidi{
			font-size: 12px;
			text-align: center;
			line-height: 28px;
			
		}
		footer p{
		
			font-size: 9px;
			text-align: center;
		}